In [19]:
import pandas as pd
import numpy as np

In [20]:
# Creating NumPy Arrays
a = np.array([1, 2, 3])                      # Create a 1D array from a list
b = np.array([[1, 2], [3, 4]])               # Create a 2D array (matrix)
c = np.zeros((2, 2))                         # Create an array of zeros
d = np.ones((1, 3))                          # Create an array of ones
e = np.full((3, 3), 7)                       # Create a constant array
f = np.arange(0, 10, 2)                      # Create an array with a range of values
g = np.linspace(0, 1, 5)                     # Create an array with evenly spaced values

# Various Functions of NumPy
sum_a_b = a + b[0]                           # Element-wise addition
prod_a_b = a * b[0]                          # Element-wise multiplication
mean_a = np.mean(a)                          # Calculate the mean of array a
std_a = np.std(a)                            # Calculate the standard deviation of array a

# Data Types of NumPy Arrays
h = np.array([1, 2, 3], dtype=np.float64)    # Specifying the data type

# Indexing and Slicing
first_element = a[0]                         # Access the first element
slice_of_a = a[1:3]                          # Slice the array from index 1 to 2

# Swapping Axes
i = np.array([[1, 2, 3]])                    # 2D array (1 row, 3 columns)
i_swapped = np.swapaxes(i, 0, 1)             # Swap rows and columns

# Transposing Arrays
j = np.array([[1, 2], [3, 4]])
j_transposed = j.T                           # Transpose the 2D array

# Data Processing Using Numpy Arrays
k = np.sqrt(a)                               # Square root of each element in array a

# Random Number Generation
l = np.random.rand(2, 2)                     # Random numbers from a uniform distribution
m = np.random.randn(2, 2)                    # Random numbers from a standard normal distribution
n = np.random.randint(0, 10, (2, 2))         # Random integers within a specified range

# This script provides a quick overview and examples of key NumPy functionalities.

ValueError: operands could not be broadcast together with shapes (3,) (2,)

In [21]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenate along rows
concatenated_df = pd.concat([df1, df2], axis=0)
print(concatenated_df)


# Concatenate along columns
concatenated_df = pd.concat([df1, df2], axis=1)
print(concatenated_df)

# Merge with outer join
merged_df = pd.merge(left_df, right_df, on='KeyColumn', how='outer')
print(merged_df)

   A  B
0  1  3
1  2  4
0  5  7
1  6  8
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

NameError: name 'left_df' is not defined

In [ ]:
# # Line plot
# x = [1, 2, 3, 4]
# y = [1, 4, 9, 16]
# plt.plot(x, y)
# plt.title("Simple Plot")
# plt.xlabel("x-axis")
# plt.ylabel("y-axis")
# plt.show()

In [ ]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is','portal', 'for', 'Geeks']
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)


data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)

# making data frame 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 

data.head()

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
s1 = pd.Series([1,2])
s2 = pd.Series(["Ashish","Sid"])

df = pd.DataFrame([s1,s2])

df

dframe = pd.DataFrame([[1,2],["Ashish","Sid"]],
    index = ["row1","row2"],
    columns = ["col1","col2"])
dframe

dframe = pd.DataFrame({
    "col1":[1,"Ashish"],
    "col2":[2,"Sid"]
})

dframe

     col1 col2
0       1    2
1  Ashish  Sid